body {
	margin: 0px;
	padding: 0px;
}
div.big {
	width: 100%;
	min-height: 100vh;

	margin: 0px;
	border: 0px dashed yellow;
	padding: 0px;

	background-color: #000000;
}
div.main {
	max-width: 1024px; /* 16:9 */
	min-height: 576px; /* ---- */

	margin: auto;
	border: 0px solid darkgrey;
	padding-top: 5px;
	padding-bottom: 64px;
	padding-left: 2%;
	padding-right: 2%;

	background-color: #000909;
	color: #999988;
}
p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;

	font-family: Cambria;
	line-height: 1.4;
}
p.monospace {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;

	border: 0px solid darkgrey;
	padding-left: 8px;
	background-color: #222222;

	font-family: Consolas;
	font-size: 14px;
	color: #CCCCCC;
	line-height: 1.4;
}
.monospace {
    font-family: "Lucida Console", Monaco, Consolas, monospace;
}
button {
	max-height: 32px;

	margin: 0px;

	border: 1px solid #333;
	border-radius: 8px;
	
	padding: 8px 16px;
	
	background-color: #000;
	color: #CCC;
	
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}
button:hover {
	background-color: #336;
	color: #CCC;
}
/* Style the search box */
input.searchbar {
	box-sizing: border-box;
	width: 100%;

	margin: auto;
	border:1px solid #ddd;
	border-radius: 10px; 
	padding: 8px;

	background-color: #000;
	color: #ddd;
	font-size: 16px;
	font-family: consolas;
}
#header {
	max-width: 1024px;
	min-height: 32px;

	margin: auto;
	border: 0px solid darkgrey;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2%;
	padding-right: 2%;

	overflow: auto;

	background-color: #222;
	color: #999988;
}
#footer {
	max-width: 1024px;
	min-height: 110px;

	margin: auto;
	border: 0px solid darkgrey;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;

	background-color: #222;
	color: #999988;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.header_div {
	box-sizing: border-box;
	display: inline-block;
	float: left;

	min-height: 32px;

	padding: 0px;
	border: 0px;
	margin: 0px 2px;
}
.header_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
.header_ul_li {
	float: left;
	margin: 0px;
}
.header_ul_li_i {
	padding: 0px;
	border: 0px;
	margin: 0px 0px;
}
.header_item {
	box-sizing: border-box;
	display: inline-block;
	max-height: 32px;

	padding: 7px;
	border: 0px;
	margin: 2px 2px;

	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	background-color: #111;
	color: #CCC;
	text-decoration: none;
}
.header_item:hover {
	background-color: #336;
}
.header_item_button {
	max-height: 32px;

	margin: 2px 2px;
	border: 1px solid #333;
	border-radius: 8px;
	padding: 8px 16px;
	
	background-color: #000;
	color: #CCC;
	
	text-align: center;
	font-size: 14px;
	text-decoration: none;
} 
#current {
	text-decoration: underline;
}
textarea {
	box-sizing: border-box;

	margin: auto;
	border:1px solid #ddd;
	border-radius: 10px; 
	padding: 8px;

	background-color: #000;
	color: #ddd;
	font-size: 12px;
	font-family: consolas;
}
#stackedit-textarea {
	width: 100%;
	min-width: 50%;
	max-width: 100%;
	min-height: 256px;

	font-size: 16px;
	color: #CCC;
}
.terminal-textarea {
	width: 100%;
	height: 256px;
	font-size: 16px
}
#stackedit_preview {

}
.bulletinboard {
	box-sizing: border-box;
	width: 100%;

	border: 2px solid #CCC; 
	border-radius: 5px; 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2%;
	padding-right: 2%;
}
