<div class="bulletinboard">
	<h2>Bulletin Board</h2>
	<p>Updates will be posted here.</p>
	<hr>
  
  {% for bulletin in site.bulletins | where 'is_live', true %}
  <ul style="padding: 0px;" reverse>
    <li style="margin: 8px 0px; padding: 0px 16px; border-bottom: 1px solid #222; border-radius: 8px;">
      <h2>
        <a href="{{ bulletin.url | remove: '.html' }}">
          <span class="monospace"><b>{{ bulletin.title }}</b></span>
        </a><!-- -- 
        <a href="{{ the_author.url | remove: '.html' }}"><span class="monospace">{{ bulletin.author }}</span></a> | {{ the_author.displayname }}-->
        <span class="monospace" style="display:block;float:right;">{{ bulletin.date }}</span>
      </h2>

      {{ bulletin.excerpt }}<p>. . .</p>
    </li>
  </ul>
  {% endfor %}

</div>