<div id="header">
	<div style="clear: both; display: block;">
		<div class="header_div" style="float: left;">
			<a class="header_item" style="font-size: 18;" href="https://www.torresjrjr.com">🏠</a>	
		</div>
		<div class="header_div" style="float: left;">
			<button class="header_button" type="button" onclick="setViewmode(dark_mode_1)">Dark Mode</button>
			<button class="header_button" type="button" onclick="setViewmode(light_mode_1)">Light Mode</button>
		</div>
		{% include navigation.html %}
	</div>
</div>