<div id="header">
	<div style="clear: both; display: table;">
		<div class="header_div" style="float: left;">
			<a class="header_item" href="https://www.torresjrjr.com">🏠</a>	
			<button class="header_button" type="button" onclick="darkmode()">Dark Mode</button>
			<button class="header_button" type="button" onclick="lightmode()">Light Mode</button>
		</div>
		<nav class="header_div" style="float: right;">
			<ul class="header_ul">
				{% for item in site.data.navigation %}
				<li class="header_ul_li">
					<a class="header_item" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name | upcase }}</a>	
				</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>