<div id="header">
	<div style="clear: both; display: table;">
		<div class="header_div" style="float: left;">
			<button type="button" onclick="darkmode()">Dark Mode</button>
			<button type="button" onclick="lightmode()">Light Mode</button>
		</div>
		<div class="header_div" style="float: right;">
			<ui style="list-style-type: none; text-align: center; margin: 0; padding: 0;">
				{% for item in site.data.navigation %}
				<li style="display: inline-block; font-size: 14px; padding: 5px;">
					<a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name | upcase }}</a>	
				</li>
				{% endfor %}
			</ui>
		</div>
	</div>
</div>