<nav class="header_div" style="float: right;">
	<ul class="header_ul" style="float: right;">
		{% for item in site.data.navigation %}
		<li class="header_ul_li">
			{% assign page_url_wo_html_ext = page.url | remove: ".html" %}
			<a class="header_ul_li_i" href="{{ item.link }}" {% if page_url_wo_html_ext == item.link %} id="current" {% endif %} >
				<div class="header_item">
					{{ item.name | upcase }} - {{ page_url_wo_html_ext }} - {{ item.link }}
				</div>
			</a>	
		</li>
		{% endfor %}
	</ul>
</nav>