div.big {
	background-color: #000000;
	width: 100%;
	margin: 0px;
	border: 0px dashed yellow;
	padding-top: 10px;
	padding-bottom: 10px;
}
div.main {
	background-color: #000909;
	max-width: 1024px;
	margin: auto;
	border: 0px solid darkgrey;
	padding: 2%;
	color: #999988;
}
p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;

	font-family: Cambria;
	line-height: 1.4;
}
p.monospace {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;

	border: 0px solid darkgrey;
	padding-left: 8px;
	background-color: #222222;

	font-family: Consolas;
	font-size: 14px;
	color: #CCCCCC;
	line-height: 1.4;
}