<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>
    <!-- // Attempt at using a cookie //
    // example to help:
    // document.cookie = "username=John Doe; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/"; -->
    <script type="text/javascript">
      document.cookie = "viewmode=dark_mode_1; expires=1 Jan 9999 12:00:00 UTC;";
      log.console("script end")
    </script>
  </head>

  <body bgcolor="#012" style="margin: 0px; padding: 0px;">
    <div class="big" id="big">
      <div class="main" id="main">

        <button type="button" onclick="darkmode()">Dark Mode</button>
        <button type="button" onclick="lightmode()">Light Mode</button>
        
        {% include navigation.html %}
        
        {{ content }}
        
      </div>
    </div>
  </body>

</html>
