<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/layout_default.css">
    <script src="/assests/js/layout_default.js"></script>
  </head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <body bgcolor="#000000">
    <div class="big" id="big">
      <div class="main" id="main">
        <button type="button" onclick="darkmode()">Dark Mode</button>
        <button type="button" onclick="lightmode()">Light Mode</button>
        {% include navigation.html %}
        {{ content }}
      </div>
    </div>
  </body>
</html>