<!doctype html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="🖋 An pastel microblog for crepuscular days. Become a user and post nifty content.">
    <meta name="keywords" content="microblog">
    
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/main.css">

    <script src="{{ site.url }}/main.js"></script>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&amp;subset=latin-ext" rel="stylesheet">
  </head>

  <body bgcolor="#012" style="margin: 0px; padding: 0px;">
    <div class="big" id="big">

      {% include header.html %}

      <div class="main" id="main">

        {{ content }}

      </div>
      
      {% include kb-popup.html %}

      {% include footer.html %}

    </div>
  </body>

  <script type="text/javascript">
    console.log("default.html; checkCookie(); script START")
    checkCookie()
    console.log("default.html; checkCookie(); script END")
  </script>

</html>
