---
layout: default
---

<p>Back to <a href="{{ site.url }}/blog/">Blog</a></p>
<h2><span class="monospace">{{ page.date }} | {{ page.title }}</span></h2>

<p>
  {{ page.date | date_to_string }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>

<hr>

<article>
	{{ content }}
</article>

<hr>

<p>
  {{ page.date | date_to_string }}
  {% if author %}
    - More from author - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>
<p>Back to <a href="{{ site.url }}/blog/">Blog</a></p>
