---
layout: default
---
<p>↩ Back to <a href="{{ site.url }}/users">Users</a></p>

<h1>
	<picture style="float: left; margin-right: 16px;">
		{% case page.dp %}
			{% when 'default' %}
		<img src="{{ site.url }}/assets/images/user_dp/default.jpg" width="64" height="64" style="border-radius: 64px">
			{% else %}
		<img src="{{ site.url }}/assets/images/user_dp/{{ page.username }}.jpg" width="64" height="64" style="border-radius: 64px">
		{% endcase %}
	</picture>
	<a href="{{ page.url | remove: '.html' }}"><span class="monospace">{{ page.username }}</span></a> | {{ page.displayname }}
</h1>


<h2>{{ page.position }}</h2>

{{ content }}

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.username %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<hr>

<p>↩ Back to <a href="{{ site.url }}/users">Users</a></p>