---
layout: default
---
<p>↩ Back to <a href="{{ site.url }}/users">Users</a></p>

<h1><a href="{{ page.url | remove: '.html' }}"><span class="monospace">{{ page.username }}</span></a> | {{ page.displayname }}</h1>

<h2>{{ page.position }}</h2>

{{ content }}

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'username', page.username %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<hr>

<p>↩ Back to <a href="{{ site.url }}/users">Users</a></p>